/* CSS Document */

@font-face {
	font-family: 'WE Siddur Reg';
	src: url('siddur_reg.ttf')  format('truetype');}

@font-face {
	font-family: 'WE Cheltenham';
	src: url('cheltenham_itc_book_bt.ttf')  format('truetype');}

body{
	margin:0 auto;
	background-color:#000;
	font-family:  'WE Cheltenham';
	 -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
     user-select: none;
		  cursor:pointer;
		  overflow:hidden;
	width: 1920px; height: 1080px; overflow: hidden;	  
	}
a {text-decoration:none;
color:#000;}
#main_box{
	width:1880px;
	height:1040px;
	 
	background-color:#000000;
	margin:0 auto;
	/* background-image:url(bg_marble.jpg); 
	background-repeat: repeat; */
	}

#left_candle{ margin:45px 20px 25px 5px;
height:990px;
width:330px;
float:left;
border: 10px solid #E8CB8A;
background-color:#fff;
	background-image:url(candle.gif); 
	background-repeat:no-repeat;
	background-position:center middle;
}

#right_side{
	float:left;
	width:1500px; 
	height:1050px;
	overflow:hidden;
	margin:45px 0  ;
	}

.plaque{
	width:350px;
	height:70px;
	border:7px solid #231F20;
	background-image:url(indv_plaque.jpg); 
	background-repeat:no-repeat;
	background-position:center middle;
	background-size: cover;
	float:left; 
	margin:0 10px 9px 0px;
	font-family:  'WE Cheltenham';
	text-transform:uppercase;
	overflow:hidden;
	}
.plaque p.name{
	text-align:center;
	font-size:22px;;
	margin:0px;
	font-weight:bold;
	margin-top:3px;
	line-height:22px;
	
	}
 
.plaque  .heb{
	font-family:'WE Siddur Reg';
	font-size:28px;
	font-weight:bold;
	}
.plaque .smeng{ font-size:  16px; }
.plaque .smheb{ font-size:  20px; }


/*21names*/
.plaque.names21{
	width:470px;
	height:110px;
	background-size: cover;
	border:8px solid #231F20;
}
.plaque.names21 .name{ font-size:28px; 	line-height:28px;}
.plaque.names21 .heb{ 	font-size:36px;}
.plaque.names21 .smeng{ font-size:  20px; }
.plaque.names21 .smheb{ font-size:  24px; }

/*10names*/
.plaque.names10{
	width:680px;
	height:150px;
	background-size: cover;
	border:8px solid #231F20;
	margin:15px 20px 20px 20px;
}
.plaque.names10 .name{ font-size:36px;  line-height:36px; 	margin-top:15px;}
.plaque.names10 .heb{ 	font-size:42px;}
.plaque.names10 .smeng{ font-size:  28px; }
.plaque.names10 .smheb{ font-size:  38px; }

/*names3*/
.plaque.names3{
	width:1000px;
	height:200px;
	background-size: cover;
	border:8px solid #231F20;
	margin:50px 50px 50px 250px;
}
.plaque.names3 .name{ font-size:56px;  line-height:56px; 	margin-top:15px;}
.plaque.names3 .heb{ 	font-size:66px;}
.plaque.names3 .smeng{ font-size:  38px; }
.plaque.names3 .smheb{ font-size:  50px; }

/*names2*/
.plaque.names2{
	width:1200px;
	height:250px;
	background-size: cover;
	border:8px solid #231F20;
	margin:150px 50px 50px 150px;
}
.plaque.names2 .name{ font-size:66px;  line-height:66px; 	margin-top:15px;}
.plaque.names2 .heb{ 	font-size:76px;}
.plaque.names2 .smeng{ font-size:  48px; }
.plaque.names2 .smheb{ font-size:  60px; }

/*names1*/
.plaque.names1{
	width:1200px;
	height:250px;
	background-size: cover;
	border:8px solid #231F20;
	margin:350px 50px 50px 150px;
}
.plaque.names1 .name{ font-size:66px;  line-height:66px; 	margin-top:15px;}
.plaque.names1 .heb{ 	font-size:76px;}
.plaque.names1 .smeng{ font-size:  48px; }
.plaque.names1 .smheb{ font-size:  60px; }

/***********************************************/
.goldbtn{
	display:block;
	width:320px;
	height:50px;
	border:5px solid #231F20;
	background-image:url(indv_plaque.jpg); 
	background-repeat:no-repeat;
	background-position:center middle;
	font-family:  'WE Cheltenham';
	text-transform:uppercase;
	font-size:35px;
	text-decoration:none;
	color:#000;
	text-align:center;
	line-height:50px;
	font-weight:bold;
	cursor:pointer;
	
	}
 
	
.goldbtn2{
	 
	padding:10px 20px;;
	height:50px;
	border:5px solid #231F20;
	background-image:url(indv_plaque.jpg); 
	background-repeat:no-repeat;
	background-position:center middle;
	font-family:  'WE Cheltenham';
	text-transform:uppercase;
	font-size:35px;
	text-decoration:none;
	color:#000;
	text-align:center;
	line-height:50px;
	font-weight:bold;
	cursor:pointer;
	
	}
 
	input.goldbtn2 {height:70px; width:350px;
	padding:5px 20px;}
.inputbox{
	height:60px;
	width:900px;
	font-size:36px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	}
#resultsbox{
	height: 900px;
	width: 1400px;
	background-image:url(../screen/img/scroll.png);
	background-repeat:no-repeat;
	margin: 10px auto;
	font-size: 40px;
	background-position: top;
	overflow:hidden;
	 
	}

#resultstext{
	height: 780px;
	overflow-y: scroll;
	 
	width: 1050px;
	margin:70px 0 0 100px;;}
#jumpletters{
	margin:50px 0 0 0;
	width:50px;
	
	float:left;
	}	
#jumpletters a, .jumplink{
	background-color:#f1f1f1;
	font-size:26px;
	width:29px;
	height:29px;
	display:inline-block;
	margin-bottom:2px;
	}
 
 